body{
  margin: 0px;
  padding: 0px;
  background-image: url("./assets/background.png");
  background-repeat:no-repeat;
  background-size: 100%;
  width: 100%;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
/* Text */
.dcisscouting-intro{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dcisscouting-intro p{
  width: 95%;
  text-align: justify;
  font-size: 1.2rem;
  color: #575757;
  margin-top: 1.5rem;
}
/* Talent Selection */
.talent-selection{
  text-transform: uppercase;
  text-align: center;
  color: #A97ED9;
  height: auto;
}
.talent-selection h3{
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 0;
  text-decoration: underline;
}
.talent-selection h2{
  font-size: 2.5rem;
  margin-top: 1rem;
}
.board-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}
.board {
  width: 22rem; 
  margin: 1rem; 
  border: 1px solid #cccccc; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
}
.board img {
  max-width: 100%; 
}
.board h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #575757;
}
.board p {
  font-size: 1.1rem;
  text-align: justify;
  width: 90%;
  margin-top: 0;
}
/* Form */
.form{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.form form{
  width: 45%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.form label{
  font-size: 1rem;
  width: 100%;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: .5rem;
  margin-left: .5rem;
}
.form input{
  width: 100%;
  border: transparent;
  height: 2.6rem;
  font-size: 1rem;
  border-radius: .2rem;
  background-color: #fff;
  box-shadow:  1px 1px 2px 2px #cccccc;
  padding-left: .5rem;
}
.form textarea{
  width: 100%;
  border: transparent;
  height: 6rem;
  font-size: 1rem;
  border-radius: .2rem;
  background-color: #fff;
  box-shadow:  1px 1px 2px 2px #cccccc;
  padding-left: .5rem;
}
/* Filter table */
.filter-and-search{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 36rem;
}
.filter-table{
  width: 30rem;
  height: 2.6rem;
  border-radius: .2rem;
  background-color: #fff;
  box-shadow:  2px 2px #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 2rem;
}
.filter-table button{
  font-size: .9rem;
  padding: .2rem 1rem;
  height: 2rem;
  background-color: transparent;
  border: transparent;
}
.filter-table button:hover{
  background-color: #A97ED9;
  transition: all .3s;
  border-radius: .2rem;
  color: white;
}
/* Search */
.search{
  width: 30rem;
  height: 2.6rem;
}
.search input{
  border: transparent;
  height: 2.6rem;
  font-size: 1rem;
  border-radius: .2rem;
  background-color: #fff;
  box-shadow:  2px 2px #cccccc;
  padding-left: .5rem;
}
.search button{
  color: white;
  background-color: #A97ED9;
  border: 1px solid #A97ED9;
  border-radius: .8rem;
  width: 7rem;
  height: 2.2rem;
  font-size: 1rem;
  margin-left: .8rem;
}
.search button:hover{
  background-color: #575757;
  cursor: pointer;
}
/* Cards */
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card-item{
  border-top: 2px solid #A97ED9;
  border-bottom: 2px solid #A97ED9;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  width: 25vw;
  height: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.card-item h2{
  font-size: 1.3rem;
  padding-bottom: .4rem;
}
.card-item h2,p,a{
  margin: .5rem;
}
.card-item a{
  margin-top: .5rem;
  border: 1px solid #A97ED9;
  border-radius: .8rem;
  background-color: #A97ED9;
  color: white;
  width: 7rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-item a:hover{
  cursor: pointer;
  background-color: #575757;
}
.card-item-type{
  text-transform: uppercase;
  font-size: .9rem;
}
.card-item-location{
  display: flex;
  flex-direction: row;
  height: 2rem;
}
.card-item-location-icon{
  font-size: 1.4rem;
}
/* Empty */
.empty{
  margin: 2rem 0;
}
